
<!DOCTYPE html>
<html lang="en" class="bg-white antialiased">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Hopscotch-CLI | An opinionated approach to front end tooling</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="dist/css/app.css">
</head>
<body class="font-source-sans font-normal text-black leading-normal">
  <div class="flex flex-col">
    <div class="min-h-screen bg-pattern bg-center bg-grey-lightest border-t-6 border-primary flex items-center justify-center leading-tight p-6 pb-16">
      <div>
        <div>
          <svg class="mx-auto block h-32 mb-3" viewBox="0 0 371 218" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Logo" transform="translate(-113.000000, -143.000000)">
                <g id="Group" transform="translate(107.000000, 65.000000)">
                  <g id="hopscotch-icon" transform="translate(214.500000, 137.500000) rotate(-270.000000) translate(-214.500000, -137.500000) translate(77.000000, 0.000000)" fill-rule="nonzero">
                    <path d="M197,118.170878 L197,65.5854392 C197,36.5917217 170.25652,13 137.384604,13 L110,137.89015 L143.345929,258 L170.172965,258 L170.172965,211.390472 L197,211.390472 L197,152.829122 L170.172965,152.829122 L170.172965,118.170878 L197,118.170878 Z" id="Shape" fill="#4D4D4D"></path>
                    <rect id="Rectangle-path" fill="#E03F64" x="143" y="71" width="42" height="35"></rect>
                    <rect id="Rectangle-path" fill="#FFB354" x="143" y="164" width="42" height="35"></rect>
                    <path d="M137.999706,24.951285 L137.999706,13 C104.915882,13 78,36.5917217 78,65.5854392 L78,118.170878 L104.999975,118.170878 L104.999975,152.829659 L78,152.829659 L78,211.390472 L104.999975,211.390472 L104.999975,258 L144,258 L144,59.6100651 L137.999706,24.951285 Z" id="Shape" fill="#4D4D4D"></path>
                    <rect id="Rectangle-path" fill="#FE547B" x="90" y="71" width="42" height="35"></rect>
                    <rect id="Rectangle-path" fill="#FCE190" x="90" y="164" width="42" height="35"></rect>
                    <path d="M185,60 L137.90417,60 L126,42.5 L137.90417,25 C161.783633,25 181.606983,40.2250759 185,60 Z" id="Shape" fill="#00BAB9"></path>
                    <path d="M137,25 L137,60 L90,60 C93.3861133,40.2248401 113.169127,25 137,25 Z" id="Shape" fill="#41D4D3"></path>
                    <polygon id="Shape" fill="#7BB07D" points="159 118 159 153 137.999951 153 126 135.5 137.999951 118"></polygon>
                    <rect id="Rectangle-path" fill="#9EC77C" x="117" y="118" width="21" height="35"></rect>
                    <polygon id="Shape" fill="#FD6144" points="159 211 159 246 137.999951 246 126 228.500271 137.999951 211"></polygon>
                    <rect id="Rectangle-path" fill="#FF8468" x="117" y="211" width="21" height="35"></rect>
                  </g>
                  <text id="Hopscotch-CLI" font-family="Avenir-Medium, Avenir" font-size="66" font-weight="400" letter-spacing="-0.80487895" fill="#4D4D4D">
                    <tspan x="0" y="277">Hopscotch </tspan>
                    <tspan x="331.98321" y="277" font-size="33">CLI</tspan>
                  </text>
                </g>
              </g>
            </g>
          </svg>
          <p class="text-center">
            <a href="https://github.com/GeoffSelby/hopscotch-cli/releases" class="text-lg text-grey hover:text-grey-dark font-semibold tracking-tight">v0.2.0</a>
          </p>
        </div>
        <h2 class="mt-12 font-normal text-3xl sm:text-4xl text-center">An Opinionated Approach<br class="hidden sm:inline-block"> To Front End Tooling</h2>
        <div class="mt-12 sm:flex sm:justify-center">
          <a class="mt-6 sm:mt-0 mx-auto sm:mx-2 max-w-xs rounded-full text-center leading-none font-semibold block px-12 py-3 border-2 border-primary bg-primary text-white hover:border-primary-dark hover:bg-primary-dark hover:bg-primary-dark" href="https://github.com/hopscotch-cli/hopscotch-cli/blob/master/README.md">Learn More</a>
          <a class="mt-6 sm:mt-0 mx-auto sm:mx-2 max-w-xs rounded-full text-center leading-none font-semibold block px-12 py-3 border-2 border-primary text-primary hover:text-white hover:border-primary-dark hover:bg-primary-dark hover:bg-primary-dark" href="https://github.com/hopscotch-cli/hopscotch-cli">GitHub</a>
        </div>
      </div>
    </div>
  </div>
  <div class="px-6">
    <div class="my-12 text-center uppercase">
      <span class="inline-block bg-soft px-4 text-grey-darker tracking-wide font-bold">A project by</span>
    </div>
    <div class="flex justify-center">
      <div class="pb-4 flex justify-center flex-wrap max-w-md xl:max-w-full">
        <div class="mb-8 w-64 md:flex-x-center justify-center">
          <div class="flex items-center justify-center">
            <img class="h-16 w-16 rounded-full" src="https://pbs.twimg.com/profile_images/784069310419341312/Uqz0Y2hP.jpg" alt="">
            <div class="pl-4">
              <a href="https://github.com/GeoffSelby" class="block hover:underline text-black text-lg text-medium">Geoff Selby</a>
              <a href="https://twitter.com/geoff_selby" class="block hover:underline hover:text-primary-dark text-primary text-sm">@geoff_selby</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>